@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Ubuntu", serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 4px;
}

#copyright {
    font-size: smaller;
}

#assignments {
    flex: 1;
}

.assignment {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}