body {
    margin: 0;
}

.assignment {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}