#navbar {
    display: flex;
    height: 45px;
    background: linear-gradient(to bottom, #4e4e4e, #2e2e2e);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#navbar button {
    min-width: 60px;
    border: none;
}
#navbar button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

#navActive {
    min-width: 100px;
    background-color: #1e87ff;
    color: white;
    font-weight: bold;
}

.navRight {
    margin-left: auto;
}