/* Navbar itself */
nav {
    display: flex;
    height: 45px;
    background: linear-gradient(to bottom, #4e4e4e, #2e2e2e);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Navbar buttons */
nav a, nav button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    min-width: 60px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: small;
}
nav a:hover, nav button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}
.navRight {
    margin-left: auto;
}

/* Navbar page title button style override */
nav #navActive {
    background-color: #1e87ff;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
}